body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cf665b;
}

header {
    background-color: #d1ab6f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
	height: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #cf5b93;
    color: #000000;
    text-align: left;
    padding: 1em 0;
	a {
		color: #ffedf6
	}
}