body {
	display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
	flex-direction: column;
    min-height: 100vh;
}

illustration {
    max-width: 800px;
    padding: 20px;
    background-color: ##ffbe78;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section#dialogue {
	background-color: #fdc7ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
	width: 80%; 
    margin: 0 auto;
}

section#whitegap {
	width: 100%;
	margin: 20px; 
}

footer {
    background-color: #cf5b93;
    color: #000000;
    text-align: center;
    padding: 1em 0;
	a {
		color: #ffedf6
	}
}