body {
	display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

illustration {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: ##ffbe78;
}

dialogue {
	background-color: #fdc7ff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        max-width: 400px;
        width: 100%;
        text-align: center;
	
	
}

footer {
    background-color: #cf5b93;
    color: #000000;
    text-align: left;
    padding: 1em 0;
	a {
		color: #ffedf6
	}
}